@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.pixel-border {
    box-shadow:
        0 -4px 0 0 #1f1f24,
        0 4px 0 0 #1f1f24,
        -4px 0 0 0 #1f1f24,
        4px 0 0 0 #1f1f24;
}

.pixel-shadow-primary {
    box-shadow: 4px 4px 0px 0px #21aed4;
}

.pixel-shadow-secondary {
    box-shadow: 4px 4px 0px 0px #ba0060;
}

/* Swup Transition Styles */
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(10px);
}

.transition-fade {
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 1;
    transform: translateY(0);
}
