<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ post.title }} - Hello Axum</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <h1>
        <a href="/">Blog</a>
    </h1>
</header>
<main class="card">
    <a href="/" class="back-link">&larr; Wstecz</a>
    <article>
        <h2>{{ post.title }}</h2>
        <div class="post-content">
            {{ post.content_html|safe }}
        </div>
    </article>
</main>
</body>
</html>
